{% extends 'edutech/base.html'%}
{% block content %}


<ol>
{% for ques in ques %}
<br>
<li>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ques.content}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ques.pub_date}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">{{ques.user}}</h6>
    <p class="card-text"> {{ques.message}}.</p>
    <form action="/post/{{ques.pk}}/" method="post">
        {% csrf_token %}
        <p> <button class="button"><span>Submit </span></button> </p>

    </form>
        
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

<br>
</li>
 {% endfor %}
 </ol>



{% endblock content %}