{% extends 'edutech/base.html'%}
{% block content %}
<br>
<h4>Answers the Question from All over The World ..</h4>

 <ol>
{% for ques in ques %}
<br>
<li>
<div class="card mb-3">
    <div class='image_q'>
  <img src="https://image.shutterstock.com/image-vector/concept-banner-hand-drawn-question-260nw-709907308.jpg" class="card-img-top" alt="...">
      </div>
  <div class="card-body">
   <div class="card-text"><small class="text-muted">@{{ques.user}}</small></div>
      <div class="card-text"><small class="text-muted">{{ques.pub_date}}</small></div>
    <h5 class="card-title">{{ques.content}}</h5>
    <p class="card-text">{{ques.message}}</p>
 
    <form action="/post/{{ques.pk}}/" method="post">
        {% csrf_token %}
        <p> <button class="button"><span>Submit Answer </span></button> </p>

    </form>
  </div>
</div>
<br>
</li>
 {% endfor %}
 </ol>



{% endblock content %}