.image_q{
    height: 50px;
    width: 300px;
    border: 5px solid rgb(5, 151, 151) ;
    display: flex ; 
    flex-direction: row ;
    justify-content: space-around ;
    flex-wrap: wrap ;
    background-color: #ffffff;
  }
  
  
  #container{
      box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
      background: rgba(255, 255, 255, 0.90);
      text-align: center;
      border-radius: 5px;
      overflow: hidden;
      margin: 5em auto;
      height: 250px;
      width: 1000px;
      
  }
  
  /* 	Product details  */
  .product-details {
      position: relative;
      text-align: left;
      overflow: hidden;
      padding: 30px;
      height: 100%;
      float: left;
      width: 40%;
  
  }
  
  /* 	Product Name */
  /* #container .product-details h1{
      font-family: 'Old Standard TT', serif;
      display: inline-block;
      position: relative;
      font-size: 34px;
      color: #344055;
      margin: 0;
       */
  }
  
  #container .product-details h1:before{
      position: absolute;
      content: '';
      right: 0%; 
      top: 0%;
      transform: translate(25px, -15px);
      font-family: 'Farsan', cursive;
      display: inline-block;
      background: #FFA69E;
      border-radius: 5px;
      font-size: 14px;
      padding: 5px;
      color: #FFF;
      margin: 0;
  
  
  }
  
  
  /*Product Rating  */
  .hint-star {
      display: inline-block;
      margin-left: 0.5em;
      color: gold;
      width: 50%;
  }
  
  
  /* The most important information about the product */
  #container .product-details > p {
      /* font-family: 'Farsan', cursive; */
      text-align: center;
      font-size: 20px;
      color: #7d7d7d;
      
  }
  
  /* control */
  
  .control{
      position: absolute;
      bottom: 20%;
      left: 22.8%;
      
  }
  /* the Button */
  /* .btn {
      transform: translateY(0px);
      transition: 0.3s linear;
      background: #49C608;
      border-radius: 5px;
    position: relative;
    overflow: hidden;
      cursor: pointer;
      outline: none;
      border: none;
      color: #eee;
      padding: 0;
      margin: 0;
      
  } */
  
  /* .btn:hover{transform: translateY(-4px);} */
  
  .btn span {
      font-family: 'Farsan', cursive;
      transition: transform 0.3s;
      display: inline-block;
    padding: 10px 20px;
      font-size: 1.2em;
      margin:0;
      
  }
  /* shopping cart icon */
  /* .btn .price, .shopping-cart{
      background: #333;
      border: 0;
      margin: 0; */
  }
  
  /* .btn .price {
      transform: translateX(-10%); padding-right: 15px;
  } */
  
  /* the Icon */
  /* .btn .shopping-cart {
      transform: translateX(-100%);
    position: absolute;
      background: #333;
      z-index: 1;
    left: 0;
    top: 0;
  } */
  
  buy
  .btn .buy {z-index: 3; font-weight: bolder;}
  
  .btn:hover .price {transform: translateX(-110%);}
  
  .btn:hover .shopping-cart {transform: translateX(0%);}
  
  
  
  /* product image  */
  .product-image {
      transition: all 0.3s ease-out;
      display: inline-block;
      position: relative;
      overflow: hidden;
      height: 100%;
    
      width: 50%;
      flex: auto;
      display: inline-block;
  }
  
  #container img {width: 100%;height: 100%;}
  
  /* .info {
      background: rgba(27, 26, 26, 0.9);
      font-family: 'Farsan', cursive;
      transition: all 0.3s ease-out;
      transform: translateX(-100%);
      position: absolute;
      line-height: 1.9;
      text-align: left;
      font-size: 120%;
      cursor: no-drop;
      color: #FFF;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
  } */
  
  /* .info h2 {text-align: center}
  .product-image:hover .info{transform: translateX(0);}
  
  .info ul li{transition: 0.3s ease;}
  .info ul li:hover{transform: translateX(50px) scale(1.3);} */
  
  .product-image:hover img {transition: all 0.3s ease-out;}
  .product-image:hover img {transform: scale(1.2, 1.2);}
  
  
  
  .images {
      transition: all 0.3s ease-out;
      display: inline-block;
      position: relative;
      overflow: hidden;
      height: 100%;
      float: right;
      width: 100%;
      display: inline-block;
  }
  
  
  .images:hover img {transition: all 0.3s ease-out;}
  .images:hover img {transform: scale(1.2, 1.2);}
  
  
  
  
  
  /* =-------------------------------------------------------------------
  ------------------------------------------------------------------------ */
  
  
  .buttons {
      /* display: flex;
      flex-direction: row;
      flex-wrap: wrap; */
      /* justify-content: center; */
      /* text-align: center; */
      /* width: 100%;
      height: 100%; */
      /* margin: 0 auto; */
      /*   padding: 2em 0em; */
    }
    
    
    .btnn {
      letter-spacing: 0.1em;
      cursor: pointer;
      font-size: 14px;
      font-weight: 400;
      line-height: 45px;
      max-width: 160px;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      width: 100%;
    }
    .btnn:hover {
      text-decoration: none;
    }
    
    /*btn_background*/
    .effect01 {
      color: #fff;
      border: 4px solid rgb(0, 114, 114);
      box-shadow: 0px 0px 0px 1px  rgb(0, 114, 114) inset;
      background-color:  rgb(0, 114, 114);
      overflow: hidden;
      position: relative;
      transition: all 0.3s ease-in-out;
    }
    .effect01:hover {
      border: 4px solid #666;
      background-color: #fff;
      box-shadow: 0px 0px 0px 4px #eee inset;
    }
    
    /*btn_text*/
    .effect01 span {
      transition: all 0.2s ease-out;
      z-index: 2;
    }
    .effect01:hover span {
      letter-spacing: 0.13em;
      color: #333;
    }
    
    /*highlight*/
    .effect01:after {
      background: #fff;
      border: 0px solid #000;
      content: "";
      height: 155px;
      left: -75px;
      opacity: 0.8;
      position: absolute;
      top: -50px;
      -webkit-transform: rotate(35deg);
      transform: rotate(35deg);
      width: 50px;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); /*easeOutCirc*/
      z-index: 1;
    }
    .effect01:hover:after {
      background: #fff;
      border: 20px solid #000;
      opacity: 0;
      left: 120%;
      -webkit-transform: rotate(40deg);
      transform: rotate(40deg);
    }
    
  
    /* ------------------------------------------------------------
    ------------------------------------------------------------ */
    
  
  
    .button {
      /* position: absolute;  */
     /* left: 50%; */
     /* top: 50%;  */
     -webkit-transform: translate(-2%, 1%);
             /* transform: translate(-50%, -50%); */
     color: #ffffff;
     /* text-decoration: none;  */
     /* font-size: 2em; */
     background: rgb(0, 114, 114);
     display: inline-block;
      font-family: Montserrat;
     text-transform: uppercase;
      /* padding: 0.5em 2em;  */
     border: 2px solid rgb(3, 73, 73);
     /* -webkit-transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1); */ 
      /* transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1); */ 
   }
   .button::before {
     content: "";
     display: inline-block;
     position: absolute;
     top: 0;
     left: 0;
     right: 100%;
     bottom: 0;
     background: #f7f7f7;
     -webkit-transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
     transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
     z-index: -1;
   }
   .button::after {
     content: "";
     display: inline-block;
     background-image: url("https://image.flaticon.com/icons/png/128/109/109617.png");
     position: absolute;
     top: 0;
     left: calc(100% - 3em);
     right: 3em;
     bottom: 0;
     background-size: 1.5em;
     background-repeat: no-repeat;
     background-position: center;
     -webkit-transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
     transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
   }
   .button:hover {
     padding: 0.5em 3.5em 0.5em 0.5em;
   }
   .button:hover::before {
     left: calc(100% - 3em);
     right: 0;
     -webkit-transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
     transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
   }
   .button:hover::after {
     right: 0;
     -webkit-transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
     transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
   }
       
    
    
      
      
      
      
      
      
      
      .box{
          position:absolute;
          left:50%;
          top:75%;
          transform: translate(-50%,-50%);
            background-color: rgba(0, 0, 0, 0.89);
          border-radius:3px;
          padding:20px 100px;
        }
         .box2{
          position:absolute;
          left:50%;
          top:53%;
          transform: translate(-50%,-50%);
            background-color: rgba(0, 0, 0, 0.89);
          border-radius:3px;
          padding:20px 100px;
        }
        .input-container{
          position:relative;
          margin-bottom:25px;
        }
        .input-container label{
          position:absolute;
          top:0px;
          left:0px;
          font-size:16px;
          color:#fff;	
            pointer-event:none;
          transition: all 0.5s ease-in-out;
        }
        .input-container input{ 
          border:0;
          border-bottom:1px solid #555;  
          background:transparent;
          width:100%;
          padding:8px 0 5px 0;
          font-size:16px;
          color:#fff;
        }
        .input-container input:focus{ 
         border:none;	
         outline:none;
         border-bottom:1px solid #e74c3c;	
        }
        .btnn{
          color:#fff;
          background-color:#e74c3c;
          outline: none;
            border: 0;
            color: #fff;
          padding:10px 20px;
          text-transform:uppercase;
          margin-top:10px;
          border-radius:2px;
          cursor:pointer;
          position:relative;
        }
        /*.btn:after{
          content:"";
          position:absolute;
          background:rgba(0,0,0,0.50);
          top:0;
          right:0;
          width:100%;
          height:100%;
        }*/
        .input-container input:focus ~ label,
        .input-container input:valid ~ label{
          top:-12px;
          font-size:12px;
          
        }
              
      